<h1>Service A</h1>
<span>
  <button mat-button [routerLink]="['/a']"><i class="fa fa-home-heart">  Compoent A</i></button>
</span>
<span>
  <button mat-button routerLink="/b"><i class="fa fa-info"> Component B</i></button>

</span>
<span>
  <button mat-button routerLink="/c"><i class="fa fa-info"> Component C</i></button>

</span>
<span>
  <button mat-button routerLink="/d"><i class="fa fa-info"> Component D</i></button>

</span>
<span>
  <button mat-button routerLink="/e"><i class="fa fa-info"> Component E</i></button>

</span>

<router-outlet></router-outlet>
