<!--The content below is only a placeholder and can be replaced.-->
<div>
  
  <h1>Welcome to A!</h1>
  <div>
    <a routerLink="a">A</a> |
    <a routerLink="b">B</a> 
  </div>
  <div>
    <router-outlet></router-outlet>



  </div>

  <div>
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.

    We are in App-A.We are in App-A.
    We are in App-A.
    We are in App-A.
    We are in App-A.

  </div>
</div>
